<div class="row">
    <div class = "col-sm-12">

        <div class="col-sm-12 contactinfo" >
            <div >
                <div class="col-sm-6 pull-left ">
                    <ul class="nav nav-pills">
                        <li><a href="#"><i class="fa fa-phone"></i> +84 1652044298</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> qst.team.ptudw@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 " id="iconshare">
                <div class="pull-right">
                    <ul class="nav navbar-nav" ng-show="islogin">
                        <li>
                            <p>Xin chào <a style="color: #31b0d5">{{tentaikhoan}}</a></p>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" ng-hide="islogin">
                        <li>
                            <a ng-click="facebook()" class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Đăng nhập với Facebook
                            </a>
                        </li>
                        <li>
                            <a ng-click="google()" class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Đăng nhập với Google
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div   id="headermenu"><!-- menu-->
            <div class="col-sm-3">
                <a href="index.html" ><img ng-src="images/logo.png" id="imglogo"/></a>
            </div>
            <div class="col-sm-3">
                <form action="#" class="search-product">
                    <input type="text" ng-model="txtsearchproduct" placeholder="Tim kiếm sản phẩm" />
                    <button type="submit" class="btn btn-default" id="btn-about-email" ng-click="TimkiemsanphamClick()">Tìm Kiếm</button>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#" ng-show="isadmin"ng-click="xemdondathang()"><i class="fa fa-shopping-cart" ></i> Xem đơn đặt hàng</a></li>
                        <li><a href="#" ng-show="isadmin"ng-click="themsampham()"><i class="fa fa-shopping-cart" ></i> Thêm sản phẩm</a></li>
                        <li><a href="#"ng-click="xemgiohang()" ng-hide="isadmin"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                        <li><a href="#" ng-click="logout()" ng-show="islogin"><i class="fa fa-unlock"></i> Đăng xuất</a></li>
                        <li><a href="#" ng-click="login()" ng-hide="islogin"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div >

        </div>
    </div>
</div>