#form
{
	display:block;
    margin-top: 50px;
    margin-bottom: 100px;
}
.login-form form input, .signup-form form input
{
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}
.login-form h2, .signup-form h2
{
	color: #696763;
	font-size:20px;
}
.signup-form h2
{
	margin-bottom:27px;
}
.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}
.login-form form button, .signup-form form button
{
	margin-top: 10px;
	background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    padding: 6px 25px;
}
.login-form form button
{
	margin-top:22px;
}
.or{
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 100px;
	text-align: center;
	width: 50px;
}
